<!-- Bloco de Conteudo: Mapeamento e Sensoriamento -->
<section id="mapeamento-e-sensoriamento" class="bloco">
  <div class="container">
   <div class="row">
     <div class="col-4">
       <h2>Mapeamento e Sensoriamento</h2>
     </div>
     <div class="col-8">
       <h4>
         Startup voltada para a heveicultura de precisão por meio da
         automação industrial no campo e desenvolvimento de novas tecnologias
         capazes de substituir a mão de obra do sangrador, gerando mais produtividade,
         qualidade e controle.
       </h4>
     </div>
   </div>

   <div class="row">
     <div class="col-12">
       <hr class="separador" />
     </div>
   </div>

   <div class="row">
     <div class="col-4 text-left topico">
       <i class="fab fa-facebook fa-lg"></i>
       <h5>titulo</h5>
       <span>bloco-1</span>
     </div>
     <div class="col-4 text-left topico">
       <i class="fab fa-facebook fa-lg"></i>
       <h5>titulo</h5>
       <span>bloco-2</span>
     </div>
     <div class="col-4 text-left topico">
       <i class="fab fa-facebook fa-lg"></i>
       <h5>titulo</h5>
       <span>bloco-3</span>
     </div>
   </div>

   <div class="row">
     <div class="col-4 text-left topico">
       <i class="fab fa-facebook fa-lg"></i>
       <h5>titulo</h5>
       <span>bloco-4</span>
     </div>
     <div class="col-4 text-left topico">
       <i class="fab fa-facebook fa-lg"></i>
       <h5>titulo</h5>
       <span>bloco-5</span>
     </div>
     <div class="col-4 text-left topico">
       <i class="fab fa-facebook fa-lg"></i>
       <h5>titulo</h5>
       <span>bloco-6</span>
     </div>
   </div>

  </div>
</section>
