<!-- Bloco de Conteudo: Sangria Automatizada -->
<section id="sangria-automatizada" class="bloco bg-grey">
  <div class="container">
   <div class="row">
     <div class="col-8">
       <h4>
         Startup voltada para a heveicultura de precisão por meio da
         automação industrial no campo e desenvolvimento de novas tecnologias
         capazes de substituir a mão de obra do sangrador, gerando mais produtividade,
         qualidade e controle.
       </h4><br />
       <figure style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
         <iframe src="https://www.youtube.com/embed/p4DAHWZQwh0?fs=0" frameborder="0" style="position: absolute; top: 0;	left: 0; width: 80%;	height: 80%;"></iframe>
       </figure>
     </div>
     <div class="col-4">
       <h2>Sangria Automatizada</h2>
     </div>
   </div>

  </div>
</section>
