<!-- Bloco de Conteudo: Quem Somos -->
<section id="quem-somos" class="bloco">
  <div class="container">
   <div class="row">
     <div class="col-4">
       <h2>Quem Somos</h2>
     </div>
     <div class="col-8">
       <h4>
         Startup voltada para a heveicultura de precisão por meio da
         automação industrial no campo e desenvolvimento de novas tecnologias
         capazes de substituir a mão de obra do sangrador, gerando mais produtividade,
         qualidade e controle.
       </h4>
     </div>
   </div>

  </div>
</section>
