/*
// Classe para aplicar fundo cinza
*/
.bg-grey {
  background-color: #e8e8e8;
}

.p-10 {
  padding: 10px;
}

/*
// Botão Voltar (Scroll to Top)
*/
.scroll-top {
    display: none;
    position: fixed;
    z-index: 9995;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

@media (min-width: 576px) {
    .scroll-top {
        bottom: 2.5rem;
        right: 2.5rem;
    }
}

.scroll-top > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(44, 42, 52, 0.3);
    -webkit-box-shadow: 0 10px 20px 2px rgba(44, 42, 52, 0.15);
    box-shadow: 0 10px 20px 2px rgba(44, 42, 52, 0.15);
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .scroll-top > a {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.scroll-top > a > i {
    -webkit-transition: all 0.55s ease;
    -o-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .scroll-top > a > i {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.scroll-top > a:hover {
    background-color: rgba(44, 42, 52, 0.6);
    -webkit-box-shadow: 0 10px 25px 2px rgba(44, 42, 52, 0.25);
    box-shadow: 0 10px 25px 2px rgba(44, 42, 52, 0.25);
    text-decoration: none;
    color: #fff;
}

.scroll-top > a:hover > i {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

/*
// Menu de Navegação
*/

.navbar {
  background-color: #181818a6 !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index:1020;
  position:absolute;
  width: 100%;

  li {
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    padding: 0 15px;
  }
}

.sticky-top {
  position: fixed !important;
  z-index: 1020 !important;
  background-color: #383838 !important;
}

/*
// Destaque do Site (Jumbotron)
*/

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  height: 100vh;

  video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }

  .container {
    z-index: 2;
    position: relative;
    height: 100%;
    margin-top: 100px;
  }

  .midia-social {
    position: absolute;
    z-index: 100;
    right: 42px;
    top: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.75;
    text-align: center;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);

    li {
      padding-left: 0;
    }

    li a,
    li a:visited {
      color: #FFFFFF;
    }

    li a:hover,
    li a:focus,
    li a:active {
      color: #44c455;
    }
  }

  .midia-social::before {
    display: block;
    content: "";
    width: 2px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

  .scrolldown {
    position: relative;
    bottom: 56px;
    right: 34px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    float: right;

    i {
      padding-left: 9px;
    }

  }

  html[data-useragent*='MSIE 10.0'] .scrolldown,
  .oldie .scrolldown {
    display: none;
  }

  .scroll-icon {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FFFFFF !important;
    background: transparent;
    position: relative;
    top: 0;
    right: 0;
    -webkit-animation: animate-it 3s ease infinite;
    animation: animate-it 3s ease infinite;
  }

  .scroll-icon i {
    font-size: 1.8rem;
    position: relative;
    bottom: -6px;
  }


  /* vertical animation */

  @-webkit-keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
      -webkit-transform: translateX(0);
    }
    0%,
    60%,
    80%,
    100% {
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-5px);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      -webkit-transform: translateX(20px);
    }
    40% {
      transform: translateX(20px);
    }
  }

  @keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
      -webkit-transform: translateX(0);
    }
    0%,
    60%,
    80%,
    100% {
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-5px);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      -webkit-transform: translateX(20px);
    }
    40% {
      transform: translateX(20px);
    }
  }

  .btn {
      margin-top: 20px;
  }
}




/*
// Blocos de Conteúdo do Site Onepage
*/

footer,
section, {
    padding: 150px 0;
    margin-top: -2px
}

footer,
section {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg)
}

footer>div,
section>div {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg)
}


section.bloco {
  padding: 120px 0;

  h2 {
    margin-bottom: 2em;
  }

  h2::before {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background-color: #218838;
    position: relative;
    left: 0;
    top: 50px
  }
  h4 {
    color: #686868;
    font-family: 'Roboto', sans-serif;
  }

  .separador {
    margin: 60px 0;
  }

  .topico {
    height: 200px;

    i {
      font-size: 5em;
      color: #218838;
    }
    h5 {
      font-size: 2.4em;
      margin-top: 6px;
    }
  }
}

section.bloco:first-child {
  padding: 10px 0 120px 0 !important;
}

section#sangria-automatizada {
  h2::before {
    top: 90px;
    width: 220px;
    margin-left: auto;
  }
  h2 {
    text-align: right;
  }
}

section#sensoriamento-remoto {
  h2::before {
    top: 90px;
    left: 0
  }
}

section#contato {
  h2::before {
    margin-left: auto;
  }
  h2 {
    text-align: right;
  }
}


/*
// Google Form
*/
section#contato {
  iframe {
    width: 100%;
  }
}
