<section id="{{ page.name }}" class="bloco">
  <div class="container">
   <div class="row">
     <!-- Título do Bloco -->
     <div class="col-xs-12 col-sm-12 col-md-4">
       <h2>{{ page.title }}</h2>
     </div>
     <!-- Conteúdo do Bloco -->
     <div class="col-xs-12 col-sm-12 col-md-8">
       {{ content }}
     </div>
   </div>
   <!-- Video em Destaque -->
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12">
        <figure style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
          <iframe src="{{ page.video }}" frameborder="0" style="position: absolute; top: 0;	left: 0; width: 100%;	height: 100%;"></iframe>
        </figure>
     </div>
   </div>   
   <!-- Tópicos Informativos -->
   <div class="row">
    {% assign list = site.blocks | where_exp: "item" , "item.id contains page.id" | uniq | sort: "weight" %}
    {% for item in list %}
      {% assign level = item.id | split: "/" | size %}
      {% if level == 4 %}
        {% if item.col_width %}
        <div class="col-xs-12 col-sm-12 col-md-{{ item.col_width }} p-10"">
        {% else %}
        <div class="col-xs-12 col-sm-12 col-md-12 p-10">
        {% endif %}
          <div class="card" id="{{ item.url | slugify }}">
            {% if item.featured_image %}
            <!-- Imagem em Destaque do Tópico -->
            <img class="card-img-top" src="{{ item.featured_image | prepend: baseurl }}" alt="{{ item.title }}">
            {% endif %}
            <div class="card-body">
              <!-- Título do Tópico -->
              <h5 class="card-title">
                <strong>{{ item.title }}</strong>
                {% if item.description %}
                - {{ item.description }}
                {% endif %}
              </h5>
              <hr />
              <!-- Conteúdo do Tópico -->
              <p class="card-text">{{ item.content | markdownify }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
