---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Webpage">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- SEO -->
  <title>{{ site.title }} - {{ site.slogan }}</title>
  <meta name="application-name" content="{{ site.title }} - {{ site.slogan }}" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }} - {{ site.slogan }}">
  <meta name="description" content="{{ site.description }}" />
  <meta name="image" content="{{ '/assets/img/og-image.png' | prepend: site.url }}">
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- URL Canonica -->
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />


  <!-- Verificação do Google -->
  <meta name="google-site-verification" content="hHEB3_Pf4HuEFCxDCvsvSyZ3suOMRVqQyXfLoAWT4BU" />


  <!-- Tema para as Abas dos Navegadores Mobile -->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#218838">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#218838">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#218838">


  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="fhttps://smartex.agr.br/assets/avicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="228x228" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1coast-228x228.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1favicon-16x16.png">
  <link rel="shortcut icon" href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1favicon.ico">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="msapplication-TileImage" content="https://smartex.agr.br/assets/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="https://smartex.agr.br/assets/favicon/browserconfig.xml">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-320x460.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-640x920.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-640x1096.png">
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-750x1294.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-1182x2208.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-1242x2148.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-748x1024.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-768x1004.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-1496x2048.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
    href="https://smartex.agr.br/assets/favicon/favicon390261ecc6e5145fa2ae392b0b94acf1apple-touch-startup-image-1536x2008.png">

  <!-- Redes Sociais - OpenGraph -->
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{ site.title }} - {{ site.slogan }}">
  <meta itemprop="description" content="{{ site.description }}">
  <meta itemprop="image" content="{{ '/assets/img/og-image.png' | prepend: site.url }}">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{ site.title }} - {{ site.slogan }}">
  <meta name="og:description" content="{{ site.description }}">
  <meta name="og:image" content="{{ '/assets/img/og-image.png' | prepend: site.url }}">
  <meta name="og:image:height" content="158">
  <meta name="og:image:width" content="158">
  <meta name="og:url" content="{{ site.url }}">
  <meta name="og:site_name" content="{{ site.title }}">
  <meta name="og:locale" content="pt_br">
  <meta name="og:video" content="{{ '/assets/video/bg.mp4' | prepend: site.url }}">
  <meta name="og:type" content="website">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

</head>



<body>
  <!-- Suporte de Browser -->
  <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Scroll Top -->
  <div id="inicio" class="scroll-top">
    <a href="#inicio">
      <i class="fas fa-angle-up"></i>
    </a>
  </div>

  <!-- Menu Principal -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Logomarca -->
    <a class="navbar-brand" href="https://smartex.agr.br">
      <img src="{{ '/assets/svg/logo.svg' | relative_url }}" width="84" height="50" class="d-inline-block align-top"
        alt="">
    </a>

    <!-- Botão Mobile - Exibir Menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacao" aria-controls="navegacao"
      aria-expanded="false" aria-label="Exibir Menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navegacao">
      <!-- Links de Navegação -->
      <ul class="navbar-nav justify-content-between ml-auto">
        {% assign menus = site.data.menus.principal | sort: 'weight' %}
        {% for item in menus %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}" title="Ir para {{ item.title }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </nav>

  <!-- Aprensentação -->
  <header id="apresentacao">
    <div class="jumbotron jumbotron-fluid">

      <!-- Video de Fundo -->
      <video muted loop poster="{{ '/assets/img/destaque.jpg' | relative_url }}">
        <source src="" data-src="{{ '/assets/video/bg.mp4' | relative_url }}" type="video/mp4">
      </video>

      <!-- Conteudo -->
      <div class="container text-white">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 mt-5 text-center">
              <img src="{{ '/assets/svg/logo.svg' | relative_url }}" class="d-inline-block align-top img-fluid" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 text-center">
              <h1 class="sr-only">Heveicultura de Precisão</h1>
            </div>
          </div>
          <div class="row d-none d-xs-block d-sm-block d-md-none">
            <div class="mx-auto">
              <a id="botao-conhecer" class="btn btn-success btn-lg" href="#quem-somos" role="button">Conheça</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Midia Social -->
      <ul class="d-none d-md-block midia-social">
        <li>
          <a href="https://fb.com/{{ site.facebook_username }}" title="Ir para o Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://instagram.com/{{ site.intagram_username }}" title="Ir para o Instagram" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://youtube.com/channel/{{ site.youtube_username }}" title="Ir para o Youtube" target="_blank"><i
              class="fab fa-youtube"></i></a>
        </li>
      </ul>

      <!-- Animação Rolar para Baixo -->
      <div class="d-none d-md-block scrolldown">
        <div class="scroll-icon smoothscroll">
          <span>Role para baixo</span>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>

    </div>
  </header>

  <!-- Conteudo do Site -->
  <main>
    {{ content }}
  </main>

  <!-- JS -->
  <script src="{{ '/assets/js/main.js' | relative_url }}" type="text/javascript"></script>

  <!-- Analytics -->
  {% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics_key }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

</body>

</html>